@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* font-family: 'Montserrat', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


/* navbar start  */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 60px;
    background-image: linear-gradient(to bottom,#1abc9c,#1a7a7e);
    position: fixed;
}

header nav > a > img{
    height: 40px;
    opacity: 0.8;
}

#check{
    display: none;
}

.ckbtn{
    font-size: 25px;
    color: #ddd;
    display: none;
}

.navmenu ul{
    display: flex;
}

.navmenu ul li a{
    font-size: 18px;
    color: #ddd;
    padding: 10px 20px;
    transition: 0.4s;
}

.navmenu ul li a:hover{
    color: #2c3e50;
    background:#e67e22;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #00000060;
}


/* media for mobile  */

@media only screen and (max-width:900px) {
    header nav{
        padding: 0 20px;
    }
    
    .navmenu{
        display: none;
        position: fixed;
        top: 60px;
        right: -100%;
        background-color: #34495e;
        width: 100%;
        height: 100vh;
    }
    
    .navmenu ul{
        display: block;
        text-align: center;
        margin: 20% 0;
    }

    .navmenu ul li{
        padding: 20px;
    }

    .navmenu ul li a{
        transition: 0.2s;
    }

    .navmenu ul li a:hover{
        color: #2c3e50;
        background:#1abc9c;
        border-radius: 5px;
        box-shadow: 0px 2px 10px #00000060;
    }

    .ckbtn{
        display: block;
    }

    #check:checked ~ .navmenu{
        display: block;
        right: 0%;
    }

    #check:checked ~ .ckbtn i::before{
        content: '\f00d';
    }
}



/* main part start  */

main {
    padding-top: 60px;
}

.owncontact{
    padding-bottom: 80px;
}

.owncontact > h2{
    text-align: center;
    text-transform: uppercase;
    color: gray;
    padding: 30px 0;
    font-size: 20px;
    margin: 0 5%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: #1a7a7e;
    border-radius: 30px;
    padding: 20px;
}

.cprofile{
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #00000077;
}

.cprofile img{
    width: 100%;
}

.contact{
    width: 50%;
    margin-left: 20px;
    border-radius: 40px;
    overflow: hidden;
}

.contact div{
    text-align: center;
    padding: 20%;
    font-size: 20px;
    color: #ddd;
    background-color: #1abc9c;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}


@media only screen and (max-width:900px) {
    .container{
        flex-direction: column;
    }

    .cprofile{
        width: 90%;
    }

    .contact{
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }

    .contact div{
        font-size: 18px;
        padding: 10%;
    }
}